h1 {
  color: lime;
  background-color: Pink;
  
}
img{
 width: 1000px;
  height: 800px;  
}
body {background-image: url("http://cdn.stateuniversity.com/assets/logos/images/9700/large_Ohio_20State.jpg");
  
 }
h2 { color: blue
  
}
h6{ color: orange
  
}
ul{ color: green
  
}